<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "API키",
    authDomain: "app-922a9.firebaseapp.com",
    databaseURL: "https://app-922a9.firebaseio.com",
    projectId: "app-922a9",
    storageBucket: "app-922a9.appspot.com",
    messagingSenderId: "795568835808",
    appId: "1:795568835808:web:50bd07100848d6e82dd485",
    measurementId: "G-16FG2356RB"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>